.App {
  text-align: center;
}
  .CountersContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .Counter {
    margin: 10px 322px;
  }
  
  .CheckoutBox {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
  }